# Google API Configuration
GOOGLE_CREDENTIALS_PATH=./credentials/credentials.json
GOOGLE_TOKEN_PATH=./credentials/token.json
SPREADSHEET_ID=your_google_spreadsheet_id_here

# Gmail Filter
GMAIL_SENDER_EMAILS=no-reply@sea.com,ebanking@klikbca.com,alerts@klikbca.com
GMAIL_LABEL_FILTER=SeaTrack

# Server Configuration & Security
PORT=3000
NODE_ENV=development
# WAJIB DIISI: Secret key untuk memproteksi endpoint admin OAuth (/api/auth/url)
ADMIN_API_KEY=secretdummy123

# Polling Interval (dalam menit)
POLLING_INTERVAL_MINUTES=5
